h1 {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(12, 110, 139);
}

h2 {
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(12, 110, 139);
}
